In [1]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .master("spark://spark-master:7077")
    .appName("UsedCarsBatch")
    .getOrCreate()
)

spark

In [2]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

bucket = "used-cars-bucket-asen"
path = "/home/jovyan/data/vehicles.csv"   # local path inside the container

df_raw = (
    spark.read
        .option("header", "true")
        .option("inferSchema", "true")
        .csv(path)
)

df_raw.printSchema()
df_raw.show(5)

root
 |-- id: string (nullable = true)
 |-- url: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region_url: string (nullable = true)
 |-- price: string (nullable = true)
 |-- year: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- cylinders: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- odometer: string (nullable = true)
 |-- title_status: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- VIN: string (nullable = true)
 |-- drive: string (nullable = true)
 |-- size: string (nullable = true)
 |-- type: string (nullable = true)
 |-- paint_color: string (nullable = true)
 |-- image_url: string (nullable = true)
 |-- description: string (nullable = true)
 |-- county: string (nullable = true)
 |-- state: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- posting_date: string (nullable = true)

+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|        id|                 url|              region|          region_url|price|year|manufacturer|model|condition|cylinders|fuel|odometer|title_status|transmission| VIN|drive|size|type|paint_color|image_url|description|county|state| lat|long|posting_date|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
|7222695916|https://prescott....|            prescott|https://prescott....| 6000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   az|NULL|NULL|        NULL|
|7218891961|https://fayar.cra...|        fayetteville|https://fayar.cra...|11900|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ar|NULL|NULL|        NULL|
|7221797935|https://keys.crai...|        florida keys|https://keys.crai...|21000|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   fl|NULL|NULL|        NULL|
|7222270760|https://worcester...|worcester / centr...|https://worcester...| 1500|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   ma|NULL|NULL|        NULL|
|7210384030|https://greensbor...|          greensboro|https://greensbor...| 4900|NULL|        NULL| NULL|     NULL|     NULL|NULL|    NULL|        NULL|        NULL|NULL| NULL|NULL|NULL|       NULL|     NULL|       NULL|  NULL|   nc|NULL|NULL|        NULL|
+----------+--------------------+--------------------+--------------------+-----+----+------------+-----+---------+---------+----+--------+------------+------------+----+-----+----+----+-----------+---------+-----------+------+-----+----+----+------------+
only showing top 5 rows

In [3]:
current_year = 2025  

valid_states = [
    "AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA",
    "HI","ID","IL","IN","IA","KS","KY","LA","ME","MD",
    "MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ",
    "NM","NY","NC","ND","OH","OK","OR","PA","RI","SC",
    "SD","TN","TX","UT","VT","VA","WA","WV","WI","WY",
    "DC"
]

df_clean = (
    df_raw
      .select(
          "id",
          "url",
          "region",
          "state",
          "price",
          "year",
          "manufacturer",
          "model",
          "condition",
          "fuel",
          "odometer",
          "posting_date"
      )
      # cast numeric columns 
      .withColumn("price", F.col("price").cast("double"))
      .withColumn("year", F.col("year").cast("int"))
      .withColumn("odometer", F.col("odometer").cast("double"))

      # cleaning the variable state
      .withColumn("state", F.upper(F.trim(F.col("state"))))
      .withColumn(
          "state",
          F.when(F.col("state").isin(valid_states), F.col("state"))
      )
      .filter(F.col("state").isNotNull())
      # -----------------------

      # basic quality filters
      .filter(F.col("price").isNotNull() & (F.col("price") > 0) & (F.col("price") < 200000))
      .filter(F.col("year").isNotNull() & (F.col("year") >= 1980) & (F.col("year") <= current_year + 1))
      .filter(F.col("odometer").isNull() | (F.col("odometer") >= 0))
)

df_clean.show(5)
print("Clean row count:", df_clean.count())

+----------+--------------------+------+-----+-------+----+------------+--------------------+---------+----+--------+--------------------+
|        id|                 url|region|state|  price|year|manufacturer|               model|condition|fuel|odometer|        posting_date|
+----------+--------------------+------+-----+-------+----+------------+--------------------+---------+----+--------+--------------------+
|7316814884|https://auburn.cr...|auburn|   AL|33590.0|2014|         gmc|sierra 1500 crew ...|     good| gas| 57923.0|2021-05-04T12:31:...|
|7316814758|https://auburn.cr...|auburn|   AL|22590.0|2010|   chevrolet|      silverado 1500|     good| gas| 71229.0|2021-05-04T12:31:...|
|7316814989|https://auburn.cr...|auburn|   AL|39590.0|2020|   chevrolet| silverado 1500 crew|     good| gas| 19160.0|2021-05-04T12:31:...|
|7316743432|https://auburn.cr...|auburn|   AL|30990.0|2017|      toyota|tundra double cab sr|     good| gas| 41124.0|2021-05-04T10:41:...|
|7316356412|https://auburn.cr...|auburn|   AL|15000.0|2013|        ford|           f-150 xlt|excellent| gas|128000.0|2021-05-03T14:02:...|
+----------+--------------------+------+-----+-------+----+------------+--------------------+---------+----+--------+--------------------+
only showing top 5 rows

Clean row count: 331156

In [4]:
# Define region groups
region_data = [
    ("NORTHEAST", ["ME","NH","VT","MA","RI","CT","NY","NJ","PA", "DC"]),
    ("SOUTHEAST", ["DE","MD","VA","WV","NC","SC","GA","FL","AL","MS","TN","KY"]),
    ("MIDWEST",   ["OH","MI","IN","IL","WI","MN","IA","MO","ND","SD","NE","KS"]),
    ("SOUTHWEST", ["TX","OK","NM","AZ","AR", "LA"]),
    ("OTHER", ["AK","HI"]),
    ("WEST",      ["CO","WY","MT","ID","UT","NV","CA","OR","WA"])
]

rows = [(state, region) for region, states in region_data for state in states]
region_df = spark.createDataFrame(rows, ["state", "region_group"])

df_enriched = df_clean.join(region_df, on="state", how="left")

df_enriched.select("state", "region", "region_group").show(10, truncate=False)
print("Enriched rows:", df_enriched.count())

+-----+------+------------+
|state|region|region_group|
+-----+------+------------+
|AL   |auburn|SOUTHEAST   |
|AL   |auburn|SOUTHEAST   |
|AL   |auburn|SOUTHEAST   |
|AL   |auburn|SOUTHEAST   |
|AL   |auburn|SOUTHEAST   |
|AL   |auburn|SOUTHEAST   |
|AL   |auburn|SOUTHEAST   |
|AL   |auburn|SOUTHEAST   |
|AL   |auburn|SOUTHEAST   |
|AL   |auburn|SOUTHEAST   |
+-----+------+------------+
only showing top 10 rows

Enriched rows: 331156

In [6]:
agg = (
    df_enriched
      .groupBy("region_group", "state", "manufacturer", "model", "year")
      .agg(
          F.count("*").alias("listing_count"),
          F.avg("price").alias("avg_price"),
          F.expr("percentile_approx(odometer, 0.5)").alias("median_odometer")
      )
)

agg.show(20, truncate=False)
print("Agg rows:", agg.count())

+------------+-----+------------+------------------------------+----+-------------+---------+---------------+
|region_group|state|manufacturer|model                         |year|listing_count|avg_price|median_odometer|
+------------+-----+------------+------------------------------+----+-------------+---------+---------------+
|MIDWEST     |MI   |NULL        |/ford focus se                |2009|1            |6250.0   |87000.0        |
|MIDWEST     |MI   |NULL        |00000                         |2021|1            |25.0     |240000.0       |
|MIDWEST     |MI   |NULL        |133000                        |2005|1            |2900.0   |133000.0       |
|MIDWEST     |MI   |NULL        |142000                        |2011|1            |11995.0  |142000.0       |
|MIDWEST     |MI   |NULL        |1982 corvette                 |1982|1            |9500.0   |56724.0        |
|MIDWEST     |MI   |NULL        |1985 Mustang GT               |1985|2            |16300.0  |47000.0        |
|MIDWEST     |MI   |NULL        |1989 Mustang lx v8 convertible|1989|1            |22900.0  |18361.0        |
|MIDWEST     |MI   |NULL        |1990 P 30                     |1990|1            |4800.0   |120000.0       |
|MIDWEST     |MI   |NULL        |1994 Plymouth Voyager         |1994|1            |3800.0   |117000.0       |
|MIDWEST     |MI   |NULL        |1996 F250                     |1996|1            |7500.0   |288000.0       |
|MIDWEST     |MI   |NULL        |1999 International            |1999|1            |6500.0   |167000.0       |
|MIDWEST     |MI   |NULL        |1999 Oldsmobile bradvo        |1999|1            |1600.0   |235000.0       |
|MIDWEST     |MI   |NULL        |1999 corvette                 |1999|1            |15500.0  |110000.0       |
|MIDWEST     |MI   |NULL        |2000 Berin Box Truck          |2000|1            |5800.0   |130000.0       |
|MIDWEST     |MI   |NULL        |2001                          |2001|1            |17500.0  |69068.0        |
|MIDWEST     |MI   |NULL        |2003 blue bird                |2003|1            |4500.0   |137000.0       |
|MIDWEST     |MI   |NULL        |2003 corvette 50th aniv.      |2003|1            |21000.0  |54400.0        |
|MIDWEST     |MI   |NULL        |2003 corvette convertible     |2003|1            |29850.0  |6656.0         |
|MIDWEST     |MI   |NULL        |2003 mecury                   |2003|1            |54321.0  |180000.0       |
|MIDWEST     |MI   |NULL        |2003 olds alero               |2003|1            |1200.0   |194000.0       |
+------------+-----+------------+------------------------------+----+-------------+---------+---------------+
only showing top 20 rows

Agg rows: 167708

In [7]:
# Ranking top 5 most common and top 5 most expensive car models per region group using window functions
w_price = Window.partitionBy("region_group").orderBy(F.col("avg_price").desc())

agg_ranked_price = agg.withColumn("rank_price", F.dense_rank().over(w_price))

top_expensive_models = (
    agg_ranked_price
      .filter(F.col("rank_price") <= 5)     # top 5 most expensive per region_group
      .orderBy("region_group", "rank_price", "avg_price")
)



# Ranking the top 5 most common models per region_group 

model_counts = (
    agg
      .groupBy("region_group", "model")
      .agg(F.sum("listing_count").alias("total_listings"))
      .filter(F.col("model").isNotNull())
)

w_freq = Window.partitionBy("region_group").orderBy(F.col("total_listings").desc())

top_common_models = (
    model_counts
      .withColumn("rank_freq", F.dense_rank().over(w_freq))
      .filter(F.col("rank_freq") <= 5)       # top 5 most common models per region_group
      .orderBy("region_group", "rank_freq", F.col("total_listings").desc())
)

top_common_models.show(50, truncate=False)
top_expensive_models.show(50, truncate=False)

+------------+--------------+--------------+---------+
|region_group|model         |total_listings|rank_freq|
+------------+--------------+--------------+---------+
|MIDWEST     |f-150         |1442          |1        |
|MIDWEST     |silverado 1500|1213          |2        |
|MIDWEST     |escape        |805           |3        |
|MIDWEST     |equinox       |712           |4        |
|MIDWEST     |1500          |698           |5        |
|NORTHEAST   |f-150         |654           |1        |
|NORTHEAST   |civic         |568           |2        |
|NORTHEAST   |wrangler      |547           |3        |
|NORTHEAST   |accord        |515           |4        |
|NORTHEAST   |camry         |477           |5        |
|OTHER       |f-150         |121           |1        |
|OTHER       |silverado     |90            |2        |
|OTHER       |silverado 1500|82            |3        |
|OTHER       |tacoma        |74            |4        |
|OTHER       |1500          |66            |5        |
|SOUTHEAST   |f-150         |1126          |1        |
|SOUTHEAST   |camry         |649           |2        |
|SOUTHEAST   |accord        |633           |3        |
|SOUTHEAST   |altima        |619           |4        |
|SOUTHEAST   |silverado 1500|598           |5        |
|SOUTHWEST   |f-150         |781           |1        |
|SOUTHWEST   |2500          |592           |2        |
|SOUTHWEST   |silverado 1500|486           |3        |
|SOUTHWEST   |1500          |396           |4        |
|SOUTHWEST   |silverado     |391           |5        |
|WEST        |f-150         |1362          |1        |
|WEST        |1500          |723           |2        |
|WEST        |silverado 1500|714           |3        |
|WEST        |tacoma        |677           |4        |
|WEST        |camry         |640           |5        |
+------------+--------------+--------------+---------+

+------------+-----+-------------+----------------------------------------------------+----+-------------+------------------+---------------+----------+
|region_group|state|manufacturer |model                                               |year|listing_count|avg_price         |median_odometer|rank_price|
+------------+-----+-------------+----------------------------------------------------+----+-------------+------------------+---------------+----------+
|MIDWEST     |MI   |cadillac     |srx awd luxury                                      |2014|1            |195000.0          |47814.0        |1         |
|MIDWEST     |IN   |NULL         |PETERBILT 389 EXT HOOD                              |2015|1            |167500.0          |20000.0        |2         |
|MIDWEST     |IL   |NULL         |Fleetwood DISCOVERY                                 |2014|1            |159995.0          |31328.0        |3         |
|MIDWEST     |IL   |NULL         |AM General 1995/96                                  |1996|1            |150000.0          |150000.0       |4         |
|MIDWEST     |IN   |NULL         |INTERNATIONAL 7500                                  |2014|1            |150000.0          |16026.0        |4         |
|MIDWEST     |IN   |NULL         |PETERBILT 385 LONESTAR                              |2006|1            |143500.0          |59000.0        |5         |
|NORTHEAST   |NY   |NULL         |MCLAREN 570S                                        |2019|1            |179999.0          |8800.0         |1         |
|NORTHEAST   |NY   |porsche      |911                                                 |2018|2            |179999.0          |11195.0        |1         |
|NORTHEAST   |NY   |nissan       |gt-r                                                |2017|1            |169999.0          |6899.0         |2         |
|NORTHEAST   |NY   |audi         |r8 v10 plus                                         |2017|1            |160000.0          |29000.0        |3         |
|NORTHEAST   |NY   |NULL         |LAMBORGHINI GALLARDO                                |2004|1            |154999.0          |33848.0        |4         |
|NORTHEAST   |PA   |NULL         |McLaren 570S                                        |2016|1            |154585.0          |5783.0         |5         |
|OTHER       |AK   |NULL         |freightliner m2 106                                 |2014|2            |145000.0          |17094.0        |1         |
|OTHER       |AK   |nissan       |gt-r                                                |2016|1            |122995.0          |9527.0         |2         |
|OTHER       |HI   |porsche      |turbo s                                             |2013|1            |118000.0          |19000.0        |3         |
|OTHER       |AK   |ford         |f350 diesels powerstroke                            |2019|1            |116000.0          |24000.0        |4         |
|OTHER       |AK   |chevrolet    |corvette                                            |2020|1            |100000.0          |5.0            |5         |
|SOUTHEAST   |FL   |mercedes-benz|g-class                                             |2017|3            |199999.0          |15189.0        |1         |
|SOUTHEAST   |FL   |NULL         |Lamborghini Huracan                                 |2015|7            |186784.85714285713|33875.0        |2         |
|SOUTHEAST   |TN   |NULL         |MCLAREN 570S                                        |2019|1            |184950.0          |9715.0         |3         |
|SOUTHEAST   |FL   |mercedes-benz|g550                                                |2021|1            |182000.0          |50.0           |4         |
|SOUTHEAST   |TN   |NULL         |FREIGHTLINER XC-M MODULAR RAIL R                    |2016|1            |169950.0          |10373.0        |5         |
|SOUTHWEST   |TX   |NULL         |Peterbilt 378                                       |2006|1            |150000.0          |1234.0         |1         |
|SOUTHWEST   |TX   |volvo        |s60                                                 |2013|1            |144832.0          |144832.0       |2         |
|SOUTHWEST   |OK   |porsche      |taycan                                              |2020|1            |130000.0          |1000.0         |3         |
|SOUTHWEST   |AZ   |rover        |defender 110                                        |1993|1            |129888.0          |750.0          |4         |
|SOUTHWEST   |NM   |rover        |defender 110                                        |1993|2            |129888.0          |750.0          |4         |
|SOUTHWEST   |LA   |NULL         |Blue Bird Bus                                       |1996|1            |125000.0          |79000.0        |5         |
|WEST        |WA   |ferrari      |458 italia                                          |2011|1            |185886.0          |9964.0         |1         |
|WEST        |CA   |NULL         |Rolls-Royce Wraith                                  |2015|1            |174700.0          |31973.0        |2         |
|WEST        |CO   |mercedes-benz|revel                                               |2020|1            |164900.0          |26000.0        |3         |
|WEST        |OR   |porsche      |911 turbo s 1 owner 10k gps leather pano roof loaded|2018|1            |162995.0          |10325.0        |4         |
|WEST        |UT   |NULL         |Mercdes-Benz                                        |2020|1            |160000.0          |700.0          |5         |
+------------+-----+-------------+----------------------------------------------------+----+-------------+------------------+---------------+----------+

In [8]:

# Save final datasets to Parquet


# 1. Save cleaned + enriched main dataset
df_enriched.write.mode("overwrite") \
    .parquet("/home/jovyan/data/used_cars_clean_enriched")

# 2. Save aggregated table
agg.write.mode("overwrite") \
    .parquet("/home/jovyan/data/used_cars_agg")

# 3. Save top 5 most expensive models per region
top_expensive_models.write.mode("overwrite") \
    .parquet("/home/jovyan/data/used_cars_top_expensive_models")

# 4. Save top 5 most common models per region
top_common_models.write.mode("overwrite") \
    .parquet("/home/jovyan/data/used_cars_top_common_models")